<app-header></app-header>


<h3>Product details are here: </h3>


<div class="container">


    <div style="text-align: center;">
        <button type="button" (click)="toggleTable()">{{tableStatus}}</button>




    </div>

    <table border="3" class="studentTable" *ngIf="tableShow">
        <thead>
            <tr>
                <th>SL.NO</th>
                <th>ID</th>
                <th>NAME</th>
                <th>COLOR</th>
                <th>PRICE</th>
                <th>QTY</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let stud of (students | nameSort); let i = index">
                <td>{{i+1}}</td>
                <td>{{stud.id}}</td>
                <td>{{stud.name | uppercase}}</td>
                <td>{{stud.color}}</td>
                <td>{{stud.price}}</td>
                <td>{{stud.qty}}</td>

            </tr>
        </tbody>
    </table>
</div>

<div>
    <select (change)="selectRole($event)">
        <option value="">-select-</option>
        <option value="oil">oil</option>


        <option value="shampoo">shampoo</option>


        <option value="laptop">laptop</option>
        <option value="water_bottle">water bottle</option>

    </select>

    <div [ngSwitch]='role'>
        <h2 *ngSwitchCase="'oil'"> This is oil</h2>
        <h2 *ngSwitchCase="'shampoo'"> This is shampoo</h2>
        <h2 *ngSwitchCase="'laptop'"> This is laptop</h2>
        <h2 *ngSwitchCase="'water_bottle'"> This is water bottle</h2>

    </div>

</div>

<!--{{ 24-08-2020 | dateToAge}} -->
<div class="container">
    <h2>Calculate interest</h2>
    <form class="form-horizontal" action="/action_page.php">
        <div class="form-group">
            <label class="control-label col-sm-2" for="principle">Principle:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="principle" placeholder="Enter principle " name="principle" [(ngModel)]="principle">
            </div>

            <label class="control-label col-sm-2" for="rate">Rate:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="rate" placeholder="Enter rate " name="rate" [(ngModel)]="rate">
            </div>

            <label class="control-label col-sm-2" for="time">Time:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="time" placeholder="Enter time " name="time" [(ngModel)]="time">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" (click)="calculateSI()">Submit</button>
            </div>
        </div>
        <p>{{simpleInterest}}</p>
    </form>
</div>





<!-- <app-footer></app-footer> -->
